$color-bg: rgba(242, 242, 242, 1);
$color-primary: rgba(6, 3, 141, 1);
$color-secondary: rgba(52, 52, 224, 1);
$color-accent: rgba(198, 0, 126, 1);
$color-white: rgba(255, 255, 255, 1);

$color-font-dark: rgba(52, 52, 52, 1);